.custom-filepond-bg .filepond--panel-root {
  background-color: #d4d4d4;
}

.custom-filepond-bg .filepond--drop-label {
  background-color: #d4d4d4;
}

.custom-filepond-bg.filepond--root {
  background-color: #d4d4d4;
}

.custom-filepond-bg .filepond--panel {
  background-color: #d4d4d4;
}
